@model  IEnumerable<Lab.Capas.Models.CategoriesView>

@{
    ViewBag.Title = "Index";
}

<br />

<p>
    <a href="@Url.Action("AddOrEdit","CategoriesWebApi")" class="btn btn-default"><i class="fade  fa-plus"></i>Create New Category</a>
</p>
<table class="table table-responsive table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Descritpion</th>
    </tr>
     
@foreach (var item in Model) {
    <tr>
        <td>@item.CategoryId</td>
        <td>@item.CategoryName</td>
        <td>@item.Description</td>
        <td>
           @Html.ActionLink("Edit","AddOrEdit", new { id = item.CategoryId },new{ @class="btn btn-default"})
           @Html.ActionLink("Delete","Delete", new { id = item.CategoryId}, new { @class="btn btn-default"})
        </td>
    </tr>
}

</table>

@section scripts {
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        })
        </script>
    }